@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.copied::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid black;
  z-index: -10;
  transform: rotate(15deg);
}
.example::-webkit-scrollbar {
  display: none;
}

.typing-effect:after {
  content: "|";
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }

}
