@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  -webkit-user-drag: none;
}

.purple-color {
  background-color: #cb79ff;
}

.dark-purple-color {
  background-color: #7214ff;
}

.dark-blue-color {
  background-color: #090426;
}

.copied::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid black;
  z-index: -10;
  transform: rotate(15deg);
}

.example::-webkit-scrollbar,
.answer::-webkit-scrollbar {
  display: none;
}

.typing-effect:after {
  content: "^";
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  display: inline-block;
  animation: blink 1s infinite;
}
