@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-effect:after {
  content: "|";
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
